body{
    font-size: 1.25vh;
    font-family: "Geneva",sans-serif;
    line-height: 4vh;
    color: white;
    transition: 0.6s;
    background-color: rgb(229, 79, 248);
    box-sizing: border-box;
}

.bg{
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: hue;
    opacity: 0.75;
}

.hidden{
    display: none;
}

header{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    margin: 2% 5% 5% 0%;
    z-index: 10;
    mix-blend-mode: screen;
    font-size: 1.3em;
}

#header{
    display: flex;
    padding-right: 3%;
}

.pgContainer{
    flex: 2 2 0;
}

.pgHeader{
    overflow: hidden;
    width: 40%;
} 

main{
    mix-blend-mode: normal;
    z-index: 10;
    clear: both;
    position: relative;
}

.container{
    box-sizing: border-box;
    margin: 0 4% 4% 4%;
    width: 70%;
}

#sessionContainer{
    background-color: 
    rgba(67, 67, 67, 0.775);
    min-height: 50vh;
    overflow: scroll;
    color: rgb(223, 226, 218);
    padding: 5%;
    margin-bottom: 5%;
    /* box-shadow: ; */
}

#sessionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sessionHeader button{
    height: fit-content;
    opacity: 0.8;
}

#sessionHeader button:hover{
    opacity: 1.0;
    cursor: pointer;
}

#sessionContainer h2{
    font-size: 2em;
}

#sessionContainer hr{
    height: 3px;
    background-color:rgba(216, 255, 139, 0.912);
}

#session{
    font-size: 1.5em;
}

.active {
    background-color: rgba(111, 165, 2, 0.493);
    color: black;
    border-radius: 5px;
}

h1{
    color: black;
    font-size: 2.25vw;
    margin-bottom: 1%;
}

.expanded{
    padding: 2%;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.66s linear;
}

.projectDesc{
    color: rgba(230, 247, 195, 0.85);
    font-size: 1.15rem;
    padding: 1.5%;
}

.terminalCursor{
    font-size: 1.1em;
    width: 100%;
    width:fit-content;
    color: orange;
    background-color: orange;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
.terminalHeader{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: rgb(95, 91, 91);
    z-index: 10;
    color: rgb(184, 184, 184);
    width: 70%;
    height: 60px;
    border-radius: 10px 10px 0 0;
    text-align: left;
}

#TS{
    box-sizing: border-box;
    display: flex;
    padding: 10% 5%;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    animation: morph 40s linear infinite;
    left: 35%;  
    transform: translate(-35%, 0);   
    background-color: rgba(156, 199, 125, 0.727);
}


@keyframes morph{
    0%, 100% {
    border-radius: 50% 60% 75% 30% / 50% 40% 60% 50%;
    width: 100%;
    }
    35% {
        border-radius: 70% 30% 55% 50% / 70% 60% 90% 80%;
        width: 80%;
    }
    65% {
      border-radius: 100% 60% 65% 100% / 100% 100% 60% 70%;
      width: 90%;
    }
  }
.sessionMini{
    width: 20%;
    padding: 2%;
    height: auto;
    flex-direction: column;
    color: white;
    opacity: 0;

}
.sessionSymbol{
    padding: 0;
    /* line-height: 3em;   */
    font-size: 3em;
}

.sessionTitle{
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 50%;
    transform: translate(0, -50%);
}

.sessionMini:hover{
    color: rgba(34, 37, 27, 0.912);
    cursor: pointer;
    animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    10% {
        opacity: 0.2;
    }
    50% {opacity: 0.6;
    }
    95% {
        opacity: 0.9;
    }
    100% {
        copacity: 1.0;
    }
  }
#misc{
    position: fixed;
    top: 15vh;
    right: 1vw;
    cursor: pointer;
    width: 16vw;
    overflow: visible;
    margin: 0;
    padding: 0;
}
#mainContainer{
    overflow: hidden;
    font-weight: 700;
    color: black;
    padding: 0 5%;
    position: relative;
    font-size: 1.2rem;
}
#blobs{
    z-index: 0;
}
#mainBlob1{
    overflow: visible;
    animation: moveBlob 120s ease-in-out infinite;
    position: absolute;
}
#mainBlob2{
    overflow: visible;
    animation: moveBlob2 120s ease-in-out infinite;
    position: absolute;
}

@keyframes moveBlob {
    0%, 100% {
        transform: translate(10%, 10%);
    }
    10% {
        transform: translate(15%, 15%);
    }
    20% {
        transform: translate(25%, 30%);
    }
    40% {
        transform: translate(30%, 45%);
    }
    60% {
        transform: translate(50%, 65%);
    }
    70% {
        transform: translate(40%, 40%);
    }
    85% {
        transform: translate(20%, 30%);
    }
    95% {
        transform: translate(15%, 15%);
    }
  }


@keyframes moveBlob2 {
    0%, 100% {
        transform: translate(100%, 100%);
    }
    10% {
        transform: translate(90%, 85%);
    }
    25% {
        transform: translate(75%, 75%);
    }
    40% {
        transform: translate(60%, 65%);
    }
    65% {
        transform: translate(35%, 60%);
    }
    75% {
        transform: translate(50%, 65%);
    }
    85% {
        transform: translate(70%, 75%);
    }
    95% {
        transform: translate(85%, 85%);
    }
  }

#misc img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
#misc button{
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    border: none;
    z-index: 100;
    background-color: transparent;
    width: 49%;

}
#misc button:hover{
    cursor: pointer;
    filter: drop-shadow(10px 16px 25px rgba(172, 255, 6, 0.912));
}
.highlight{
    background-color: rgba(255, 255, 255, 0.898);
    font-weight: 800;
    padding: 0;
    margin: 0;
}

#misc .selected{
    border: 3px dotted rgba(172, 255, 6, 0.912);
}

#containerBody{
    z-index: 100;
}

.tilSection .title, a{
    font-weight: 800;
    
}
.tilSection a{
    text-decoration: none;
    color: inherit;
}
.tilSection a:hover{
    color: white;
}

#tilContainer{
    border-radius: 50%; 
    background-color:  rgba(172, 255, 6, 0.398);
    animation: morph 40s linear infinite;
}

.inspContainer p{
    font-size: 1.1rem;
    color: rgba(230, 247, 195, 0.85);
}

.grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.gridImg{
    flex: 1 1 auto;
    width: 30%;
    margin: 5%;
}

.expanded{
    display: block;
    height: 50%;
}

.collapsed{
    display: none;
}
